<% timezones = [["Eastern", "Eastern Time (US & Canada)"], ["Central", "Central Time (US & Canada)"], ["Mountaint", "Mountain Time (US & Canada)"], ["Pacific", "Pacific Time (US & Canada)"]] %>
<% past_trips = @trips.where('depart_time < ? AND return_time < ?', Time.now, Time.now) %>
<% current_trips = @trips.where('depart_time < ? AND return_time >= ?', Time.now, Time.now) %>
<% upcoming_trips = @trips.where('depart_time >= ?', Time.now) %>


<table style="width:100%; margin-left:100px; margin-right:100px">
  <tr>
    <th>Confirmation Number</th>
    <th>Departure</th>
    <th>Return</th>
  </tr>
  <% unless past_trips.empty? %>
    <tr>
      <td colspan="3" style="text-align:center"><b><i>PAST</i></b></td>
    </tr>
  <% end %>
  <% past_trips.each do |t| %>
    <tr>
      <td style="text-align:center"><%= t.confirmation_number %></td>
      <td style="text-align:center"><%= t.depart_time.in_time_zone(t.depart_time_zone).strftime("%Y/%m/%d %I:%M %p %Z") %></td>
      <td style="text-align:center"><%= t.return_time.strftime("%Y/%m/%d %I:%M %p %Z") %></td>
    </tr>
  <% end %>
  <% unless current_trips.empty? %>
    <tr>
      <td colspan="3" style="text-align:center"><b><i>CURRENT</i></b></td>
    </tr>
  <% end %>
  <% current_trips.each do |t| %>
    <tr>
      <td style="text-align:center"><%= t.confirmation_number %></td>
      <td style="text-align:center"><%= t.depart_time.in_time_zone(t.depart_time_zone).strftime("%Y/%m/%d %I:%M %p %Z") %></td>
      <td style="text-align:center"><%= t.return_time.in_time_zone(t.return_time_zone).strftime("%Y/%m/%d %I:%M %p %Z") %></td>
    </tr>
  <% end %>
  <% unless upcoming_trips.empty? %>
    <tr>
      <td colspan="3" style="text-align:center"><b><i>UPCOMING</i></b></td>
    </tr>
  <% end %>
  <% upcoming_trips.each do |t| %>
    <tr>
      <td style="text-align:center"><%= t.confirmation_number %></td>
      <td style="text-align:center"><%= t.depart_time.strftime("%Y/%m/%d %I:%M %p %Z") %></td>
      <td style="text-align:center"><%= t.return_time.strftime("%Y/%m/%d %I:%M %p %Z") %></td>
    </tr>
  <% end %>
</table>

<div id="new-trip">
  <%= simple_form_for(:trip, :url => create_trip_path, :method => "POST", :remote => true ) do |f| %>
    <div class='row'>
      <div class='col s6 input-field'>
        <label for="confirmation" class="active">Confirmation Number</label>
        <%= f.text_field :confirmation, id: 'confirmation', type: "text", autofocus: 'true' %>
      </div>
      <p><b>Departing Flight</b></p>
      <div class='col s6 input-field'>
        <label for="d_timezone" class="active">Departing Flight Timezone</label>
        <%= f.select :d_timezone, options_for_select(timezones), id: 'd_timezone', type: "text", autofocus: 'true' %>
      </div>
      <div class='col s6 input-field'>
        <label for="d_datetime" class="active">Departing Flight Date/Time</label>
        <%= f.datetime_select :d_datetime, :step => 1, :ampm => true, id: 'd_datetime', type: "text", autofocus: 'true' %>
      </div>
      <p><b>Return Flight</b></p>
      <div class='col s6 input-field'>
        <label for="r_timezone" class="active">Return Flight Timezone</label>
        <%= f.select :r_timezone, options_for_select(timezones), id: 'r_timezone', type: "text", autofocus: 'true' %>
      </div>
      <div class='col s6 input-field'>
        <label for="r_datetime" class="active">Return Flight Date/Time</label>
        <%= f.datetime_select :r_datetime, :step => 1, :ampm => true, id: 'r_datetime', type: "text", autofocus: 'true' %>
      </div>
    </div>
    <button class="btn blue waves-effect waves-light" type="submit" name="action" id='home-submit-page'>Submit
      <i class="mdi-content-send right"></i>
    </button>
  <% end %>
</div>

<%= link_to "Edit Profile", edit_user_registration_path %><br />
<%= link_to "Log Out", destroy_user_session_path, :method => "DELETE" %>